/* Basic Styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Header Styles */
    header {
        background-color: #000;
        color: #fff;
        padding: 10px 0;
    }

    /* Header Container */
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    /* Header Logo */
    header .logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    /* Header Image */
    header .logo img.logo-img {
        height: 40px;
        margin-right: 10px;
    }

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
}



/* Nav Styles */
    nav ul {
        list-style: none;
        display: flex;
        gap: 15px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #107EFF;
    }

/* Main Content Styles */
    main {
        background-color: #f4f4f4;
    }

    h1 {
        font-size: 28px;
        color: #333;
    }

    p {
        margin-top: 10px;
    }

    /* Home Content Styles*/

    #home {
        padding: 200px;
        overflow: hidden;
        position: relative;
        height: 825px;
        z-index: 1;
      }

      #home .home-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
      }

      #home .home-content {
        text-align: center;
        width: 100%;
        max-width: 46.875rem;
      }

      #home .home-topper {
        font-size: 22px;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: .1em;
        font-weight: 700;
        color: #107EFF;
        margin-bottom: 0.25rem;
        display: block;
      }

      #home .home-title {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #1a1a1a;
        padding: 40px;
      }
      
      #home .home-button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      #home .home-button-solid {
        font-size: 1rem;
        font-weight: 700;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: #107EFF;
        color: #fafbfc;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
      }

      #home .home-button-solid:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      #home .home-button-solid:hover:before {
        width: 100%;
      }

    /* Translate Content Styles*/

    #translate .translate-container {
        position: relative;
    }

    #translate .translate-content {
        color:#000;
        background-color:#f4f4f4;
        text-align: justify;
        padding: 40px;
    }

    #translate h1 {
        color:#000;
    }

    #translate h2 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #000;
        padding: 40px;
        text-align: center;
    }

    #translate h3 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.2em;
        color: #5c5c5c;
        padding: 20px;
        text-align: center;
    }

    #translate p {
        text-align: center;
    }

    #translate .flags {
        position: relative;
        width: 400px;
        height: 200px;
        padding: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }
    
    #translate .image {
        padding: 10px;
        transition: transform 1s ease;

        width: 100px;
        height: 100px;

    }

    /* Swapped positions */
    .swapped #en-flag {
        transform: translateX(240%); /* Move the first image off-screen to the right */
    }

    .swapped #fr-flag {
        transform: translateX(-240%); /* Bring the second image on-screen */
    }

    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      #translate .english-french, .french-english, .record, .translate, .play {
        font-size: 1rem;
        font-weight: 700;
        width: 46px;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: #107EFF;
        color: #fafbfc;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        cursor:pointer;
      }

      #translate .english-french:before, .french-english:before, .record:before, .translate:before, .play:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        cursor:pointer;
      }

      #translate .english-french:hover:before, .french-english:hover:before, .record:hover:before, .translate:hover:before, .play:hover:before {
        width: 100%;
        cursor:pointer;
      }

    /* Chatbot Content Styles*/
    #chatbot .chatbot-container {
        position: relative;
    }

    #chatbot .chatbot-content {
        color:#000;
        background-color:#f4f4f4;
        text-align: justify;
        padding: 40px;
    }

    #chatbot h1 {
        color:#000;
    }

    #chatbot h2 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #000;
        padding: 40px;
        text-align: center;
    }

    #chatbot h3 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.2em;
        color: #5c5c5c;
        padding: 20px;
        text-align: center;
    }

    #chatbot p {
        text-align: center;
    }

    #chatbot .training, .freeplay {
        font-size: 1rem;
        font-weight: 700;
        width: 46px;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: #107EFF;
        color: #fafbfc;
        border-radius: 0.80rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor:pointer;
      }

      #chatbot .training:before, .freeplay:before{
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.80rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        cursor:pointer;
      }

      #chatbot .training:hover:before, .freeplay:hover:before {
        width: 100%;
        cursor:pointer;
      }

      #training-img, #freeplay-img {
        height: 128px;
        width: 128px;
        padding: 10px;
      } 



    /* About Content Styles*/

    #about .about-container {
        position: relative;
    }

    #about .about-content {
        color:#000;
        background-color:#f4f4f4;
        text-align: justify;
        padding: 40px;
    }

    #about h1 {
        color:#000;
    }

    #about h2 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #000;
        padding: 40px;
        text-align: center;
    }

    #about h3 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.2em;
        color: #5c5c5c;
        padding: 20px;
        text-align: center;
    }
    


    
    

