/* Basic Styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Header Styles */
    header {
        background-color: #000;
        color: #fff;
        padding: 10px 0;
    }

    /* Header Container */
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    /* Header Logo */
    header .logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    /* Header Image */
    header .logo img.logo-img {
        height: 40px;
        margin-right: 10px;
    }

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
}



/* Nav Styles */
    nav ul {
        list-style: none;
        display: flex;
        gap: 15px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #107EFF;
    }

/* Main Content Styles */
    main {
        background-color: #f4f4f4;
    }

    h1 {
        font-size: 28px;
        color: #333;
    }

    p {
        margin-top: 10px;
    }

    /* Home Content Styles*/

    #home {
        padding: 200px;
        overflow: hidden;
        position: relative;
        height: 825px;
        z-index: 1;
      }

      #home .home-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
      }

      #home .home-content {
        text-align: center;
        width: 100%;
        max-width: 46.875rem;
      }

      #home .home-topper {
        font-size: 22px;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: .1em;
        font-weight: 700;
        color: #107EFF;
        margin-bottom: 0.25rem;
        display: block;
      }

      #home .home-title {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #1a1a1a;
        padding: 40px;
      }
      
      #home .home-button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      #home .home-button-solid {
        font-size: 1rem;
        font-weight: 700;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: #107EFF;
        color: #fafbfc;
        border-radius: 0.80rem;
        display: inline-block;
        position: relative;
        z-index: 1;
      }

      #home .home-button-solid:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.80rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      #home .home-button-solid:hover:before {
        width: 100%;
      }

    /* Translate Content Styles*/

    #translate .translate-container {
        position: relative;
    }

    #translate .translate-content {
        color:#000;
        background-color:#f4f4f4;
        text-align: justify;
        padding: 40px;
    }

    #translate h1 {
        color:#000;
    }

    #translate h2 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #000;
        padding: 40px;
        text-align: center;
    }

    #translate h3 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.2em;
        color: #5c5c5c;
        padding: 20px;
        text-align: center;
    }

    #translate p {
        text-align: center;
    }

    #translate .flags {
        position: relative;
        width: 400px;
        height: 200px;
        padding: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }
    
    #translate .image {
        padding: 10px;
        transition: transform 1s ease;

        width: 100px;
        height: 100px;

    }

    /* Swapped positions */
    .swapped #en-flag {
        transform: translateX(240%); /* Move the first image off-screen to the right */
    }

    .swapped #fr-flag {
        transform: translateX(-240%); /* Bring the second image on-screen */
    }

    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      #translate .english-french, .french-english, .record, .translate, .play {
        font-size: 1rem;
        font-weight: 700;
        width: 46px;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: #107EFF;
        color: #fafbfc;
        border-radius: 0.80rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        cursor:pointer;
      }

      #translate .english-french:before, .french-english:before, .record:before, .translate:before, .play:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.80rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        cursor:pointer;
      }

      #translate .english-french:hover:before, .french-english:hover:before, .record:hover:before, .translate:hover:before, .play:hover:before {
        width: 100%;
        cursor:pointer;
      }

    /* Chatbot Content Styles*/
    #chatbot .chatbot-container {
        position: relative;
    }

    #chatbot .chatbot-content {
        color:#000;
        background-color:#f4f4f4;
        text-align: justify;
        padding: 40px;
        padding-bottom: 0px;
    }

    #chatbot h1 {
        color:#000;
    }

    #chatbot h2 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #000;
        padding: 40px;
        text-align: center;
    }

    #chatbot h3 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.2em;
        color: #5c5c5c;
        padding: 20px;
        text-align: center;
    }

    #translate .translate-container {
    max-width: 800px; /* Set a max-width for the container */
    margin: 0 auto;   /* Center the container horizontally */
    padding: 20px;
}

    #translate #convert_text {
    display: block;
    margin: 20px auto; /* Adjust the margin as needed */
    width: 300px; /* Ensure this matches the width of the text box in HTML */
    padding: 10px;
    text-align: center;
}


    #chatbot p {
        text-align: center;
    }

    #begin-chat {
        padding-bottom: 30px;
    }

    #chatbot .begin-chat {
        font-size: 1rem;
        font-weight: 700;
        width: 46px;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: #107EFF;
        color: #f4f4f4;
        border-radius: 0.80rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        cursor:pointer;
      }

      #chatbot .begin-chat:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.80rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        cursor:pointer;
      }

      #chatbot .begin-chat:hover:before {
        width: 100%;
        cursor:pointer;
      }

    #chatbot .training, .freeplay, .english-button, .french-button {
        font-size: 1rem;
        font-weight: 700;
        width: 46px;
        line-height: 46px;
        text-align: center;
        text-decoration: none;
        min-width: 12.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        padding-top: 10px;
        background-color: #107EFF;
        color: #fafbfc;
        border-radius: 0.80rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor:pointer;
      }

      #chatbot .training:before, .freeplay:before, .english-button:before, .french-button:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #8F16FF;
        opacity: 1;
        border-radius: 0.80rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        cursor:pointer;
      }

      #chatbot .training:hover:before, .freeplay:hover:before, .english-button:hover:before, .french-button:hover:before {
        width: 100%;
        cursor:pointer;
      }

      #training-img, #freeplay-img, #english-button-img, #french-button-img {
        height: 128px;
        width: 128px;
        padding: 10px;
      } 
      
      /* Chatbot Window Styles*/

      .chatbot-window-container {
        display: none;
        justify-content: center;
        padding-bottom: 50px;
        background: #f4f4f4;
      }

      .chatbot-window {
        right: 40px;
        bottom: 100px;
        width: 800px;
        overflow: hidden;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 32px 64px -48px rgba(0, 0, 0, 0.5);
        }
    
    .chatbot-window header {
        background: #107EFF;
        padding: 16px 0;
        text-align: center;
    }
    
    .chatbot-window header h2 {
        color: #fff;
        font-size: 1.4rem;
    }
    
    .chatbot-window .chatbox {
        height: 400px;
        overflow-y: auto;
        padding: 30px 20px 20px;
    }
    
    .chatbox .chat {
        display: flex;
    }
    
    .chatbox .incoming span {
        height: 32px;
        width: 32px;
        color: #fff;
        align-self: flex-end;
        background: #107EFF;
        text-align: center;
        line-height: 32px;
        border-radius: 4px;
        margin: 0 10px 7px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chatbox .incoming span #chatbot-img {
        height: 20px;
        width: 20px;
        color: #fff;
    }
    
    .chatbox .outgoing {
        margin: 20px 0;
        justify-content: flex-end;
    }
    
    .chatbox .chat p {
        color: #fff;
        max-width: 75%;
        font-size: 0.95rem;
        padding: 12px 16px;
        border-radius: 10px 10px 0 10px;
        background: #107EFF;
    }

    #en-training, #fr-training, #en-freeplay, #fr-freeplay {
        display: none;
    }
    
    .chatbox .incoming p {
        color: #000;
        font-size: 0.95rem;
        padding: 12px 16px;
        border-radius: 10px 10px 10px 0;
        background: #f2f2f2;
    }
    
    .chatbot-window .chat-input {
        
        bottom: 0;
        width: 100%;
        display: flex;
        gap: 5px;
        background: #fff;
        padding: 5px 20px;
        border-top: 1px solid #ccc;
    }

    .chat-input span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-input span #send-img {
        height: 20px;
        width: 20px;
        color: #fff;
    }
    
    .chat-input textarea {
        height: 55px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 0.95rem;
        resize: none;
        padding: 16px 15px 16px 0;
    }
    
    .chat-input span {
        align-self: flex-end;
        height: 55px;
        line-height: 55px;
        color: #107EFF;
        font-size: 1.35rem;
        cursor: pointer;
        visibility: hidden;
    }
    
    .chat-input textarea:valid ~ span {
        visibility: visible;
    }



    /* About Content Styles*/

    #about .about-container {
        position: relative;
    }

    #about .about-content {
        color:#000;
        background-color:#f4f4f4;
        text-align: justify;
        padding: 40px;
    }

    #about h1 {
        color:#000;
    }

    #about h2 {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.2em;
        color: #000;
        padding: 40px;
        text-align: center;
    }

    #about h3 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.2em;
        color: #5c5c5c;
        padding: 20px;
        text-align: center;
    }

    /* training mode */
/* Support Chat Styles */

.support-chat-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background: #f4f4f4;
  }
  
  .support-chat-box {
    right: 40px;
    bottom: 100px;
    width: 800px;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  }
  
  .support-chat-box header {
    background: #107EFF;
    padding: 16px 0;
    text-align: center;
  }
  
  .support-chat-box header h2 {
    color: #fff;
    font-size: 1.4rem;
  }
  
  .support-chat-box .message-area {
    height: 400px;
    overflow-y: auto;
    padding: 30px 20px 20px;
  }
  
  .message-area .message {
    display: flex;
  }
  
  .message-area .received span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #107EFF;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .message-area .received span #support-avatar {
    height: 20px;
    width: 20px;
    color: #fff;
  }
  
  .message-area .sent {
    margin: 20px 0;
    justify-content: flex-end;
  }
  
  .message-area .message p {
    color: #fff;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #107EFF;
  }
  
  .message-area .received p {
    color: #000;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 10px 0;
    background: #f2f2f2;
  }
  
  .support-chat-box .input-area {
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
  }
  
  .input-area span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-area span #send-button {
    height: 20px;
    width: 20px;
    color: #107EFF;
  }
  
  .input-area textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
  }
  
  .input-area span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #107EFF;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
  }
  
  .input-area textarea:valid ~ span {
    visibility: visible;
  }
  
#test-mode{
    display: none;
}

    
    

